# Node/.NET/Qt/通用
node_modules/
dist/
build/
out/
*.log
*.tmp
*.cache
.DS_Store

# 配置/密钥
config/config.yaml
.env
*.pfx
*.keystore

# 安装包/中间产物
*.exe
*.msi
*.zip
artifacts/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/
.tox/
.pip-install/
.pip-cache/
